.BurgerControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BurgerControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #32325d;
    cursor: pointer;
    outline: none;
}

.BurgerControl button:disabled {
    background-color: #D0CAFF;
    border: 1px solid #6c65ef;
    color: rgb(126, 126, 126);
    cursor: default;
}

.BurgerControl button:hover:disabled {
    background-color: #D0CAFF;
    color: rgb(126, 126, 126);
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BurgerControl .Remove {  
    background-color: #7a76ca;
    color: white;
}

.BurgerControl .Add {
    background-color: #4e4aa3;
    color: white;
}

.BurgerControl .Remove:hover, .BurgerControl .Remove:active {  
    background-color: rgb(114, 142, 218);
    color: white;
}

.BurgerControl .Add:hover,.BurgerControl .Add:active {
    background-color: rgb(63, 65, 153);
    color: white;
}