.BurgerControls {
    width: 100%;
    background-color: rgb(123, 107, 243);
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.OrderButton {
    background-color: #6c65ef;
    outline: none;
    cursor: pointer;
    border: 1px solid #D0CAFF;
    color: white;
    font-family: inherit;
    font-size: 1.2em;
    padding: 15px 30px;
    box-shadow: 2px 2px 2px #e6e6e6;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #D0CAFF;
    border: 1px solid #6c65ef;
    color: #32325d;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: 1px solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}